body{
     background-color: lightblue;
}
h1, h2, h3{
    color: red;
}
p, ol, ul{
    color: rgb(37, 37, 37);
}
aside {
    width: 300px;
    float: right;
    margin-left: 20px;
    padding: 20px;
}
.hero {
    height: 40vh; 
    background-image: url("../img/hero.png");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
html {
    scroll-behavior: smooth;
}


